{% extends 'shared/layout.html' %} {% block content %}
<!-- Breadcrumb Area start -->
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-content">
                    <h1 class="breadcrumb-hrading">Account Page</h1>
                    <ul class="breadcrumb-links">
                        <li><a href="index.html">Home</a></li>
                        <li>My Account</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Area End -->
<!-- account area start -->
<div class="checkout-area mtb-60px">
    <div class="container">
        <div class="row">
            <div class="ml-auto mr-auto col-lg-9">
                <div class="checkout-wrapper">
                    <div id="faq" class="panel-group">
                        <div class="panel panel-default single-my-account">
                            <div class="panel-heading my-account-title">
                                <h3 class="panel-title"><span></span> <a data-toggle="collapse" data-parent="#faq"
                                        href="#my-account-3">Reset Password</a></h3>
                            </div>
                            <div id="my-account-3" class="panel-collapse collapse show">
                                <div class="panel-body">
                                    <div class="myaccount-info-wrapper">
                                        <div class="account-info-wrapper">
                                            <h4>Change Password</h4>
                                            <h5>Your Password</h5>
                                        </div>
                                        <div id="alert-wrong-pw" class="alert alert-danger" style="display: none;" role="alert">
                                            Wrong current password
                                        </div>
                                        <div id="alert-pw-no-match" class="alert alert-warning" style="display: none;" role="alert">
                                            Passwords do not match
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12">
                                                <div class="billing-info">
                                                    <label>New Password</label>
                                                    <input id="input_newpw" type="password" />
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12">
                                                <div class="billing-info">
                                                    <label>Password Confirm</label>
                                                    <input id="input_newpwconfirm" type="password" />
                                                    <input id="unik" type="hidden" value="{{unik or None}}"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="billing-back-btn">
                                            <div class="billing-back">
                                                <a href="#"><i class="fa fa-arrow-up"></i> back</a>
                                            </div>
                                            <div class="billing-btn">
                                                <button id="section3-update-button" type="submit">Continue</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- account area end -->
{% endblock %}
{% block js %}
<script>
    $(document).ready(function () {
        prepareThirdButton()
        hidePwNoMatch()
        hideWrongPw()
    })

    function showPwNoMatch() {
        $("#alert-pw-no-match").show()

    }

    function hidePwNoMatch() {
        $("#alert-pw-no-match").hide()

    }

    function showWrongPw() {
        $("#alert-wrong-pw").show()

    }

    function hideWrongPw() {
        $("#alert-wrong-pw").hide()

    }

    function prepareThirdButton() {
        $("#section3-update-button").on('click', function (e) {
            newpw = $("#input_newpw").val()
            newpwconfirm = $("#input_newpwconfirm").val()
            unik = $("#unik").val()

            if (newpwconfirm != newpw) {
                showPwNoMatch()
                return
            }

            obj = {}
            obj.newpw = newpw
            obj.unik = unik
            $.ajax({
                url: "/account/update_password_reset",
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(obj),
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRFToken','{{csrf_token()}}');
                },
                success: function (data) {
                    // alert(data.msg)
                    window.location.replace("/login_now");
                    iziToast.show({
                        title: 'Password updated!',
                        theme: 'light',
                        color: 'green',
                        position: 'topRight',
                        overlayClose: true,
                        progressBarColor: 'rgb(0,0,0)',
                        overlayColor: 'rgba(0, 0, 0, 0.6)',
                    })
                    $("#input_currentpw").val("")
                    $("#input_newpw").val("")
                    $("#input_newpwconfirm").val("")
                },
                error: function (data) {
                    iziToast.show({
                        title: data.responseJSON.msg,
                        theme: 'light',
                        color: 'red',
                        position: 'topRight',
                        overlayClose: true,
                        progressBarColor: 'rgb(0,0,0)',
                        overlayColor: 'rgba(0, 0, 0, 0.6)',
                    })
                }
            });

        })
    }
</script>
{% endblock %}