#publish_desc {
    display: block;
    width: 100%;
    overflow: hidden;
    resize: vertical;
    min-height: 40px;
    line-height: 20px;
}

.textarea {
    border: 1px solid #ccc;
    font-family: inherit;
    font-size: inherit;
    padding: 1px 6px;
}

.textarea[contenteditable]:empty::before {
    content: "Talk about your item!";
    color: gray;
}