{% extends 'shared/layout.html' %}
{% block content %}
<!-- Breadcrumb Area start -->
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-content">
                    <h1 class="breadcrumb-hrading">Your Humble Stall</h1>
                    <ul class="breadcrumb-links">
                        <li><a href="/">Home</a></li>
                        <li>My Stall</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Area End -->
<!-- login area start -->
<div class="login-register-area mb-60px mt-53px">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                <div class="login-register-wrapper">
                    <div class="login-register-tab-list nav">
                        <a class="{{'' if tag is defined and  tag=='pub' else 'active'}}" data-toggle="tab" href="#lg1">
                            <h4>Dashboard</h4>
                        </a>
                        <a class="{{'active' if tag is defined and tag=='pub' else ''}}" data-toggle="tab" href="#lg2">
                            <h4>Publish</h4>
                        </a>
                    </div>
                    <div class="tab-content">
                        <div id="lg1" class="tab-pane {{'' if tag is defined and  tag=='pub' else 'active'}}">
                            <div id="seller-dashboard-contents" class="row">
                                <div class="column">
                                    <div class="card">
                                        {% if dashboard is defined and dashboard.lifetime_revenue is defined %}
                                        <h3>{{ dashboard['lifetime_revenue'] }}</h3>
                                        {% else %}
                                        <h3>$0</h3>
                                        {% endif %}
                                        <p>Lifetime revenue</p>
                                        <a class="stretched-link" href="#"></a>
                                    </div>
                                </div>

                                <div class="column">
                                    <div class="card">
                                        <h3>
                                            {% if dashboard is defined and dashboard.star_rating_avg is defined %}
                                            {{ dashboard.star_rating_avg }}
                                            {% else %}
                                            -
                                            {% endif %}
                                        </h3>
                                        <p>Out of 5 stars</p>
                                        <a class="stretched-link" href="#"></a>
                                    </div>
                                </div>

                                <div class="column">
                                    <div class="card">
                                        <h3>
                                            {% if dashboard is defined and dashboard.prod_listed is defined %}
                                            {{ dashboard.prod_listed }}
                                            {% else %}
                                            0
                                            {% endif %}
                                        </h3>
                                        <p>Total products listed</p>
                                        <a class="stretched-link" href="#"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="uploadimageModal" class="modal" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 style="position: absolute; float:left;" class="modal-title">Upload & Crop
                                            Image</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-8 text-center">
                                                <div id="image_demo" style="width:350px; margin-top:30px"></div>
                                            </div>
                                            <div class="col-md-4" style="padding-top:30px;">
                                                <br />
                                                <br />
                                                <br />
                                                <button class="btn btn-success crop_image">Crop & Upload Image</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default"
                                            data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="lg2" class="tab-pane {{'active' if tag is defined and tag=='pub' else ''}}">
                            <div class="login-form-container">
                                <div class="login-register-form">
                                    <form onsubmit="includeDesc()" enctype="multipart/form-data"
                                        action="{{url_for('publish')}}" method="post">
                                        <div class="form-group">
                                            <label for="publish_desc">Title of Listing</label>
                                            <input type="text" name="title" required="required" class="form-control"
                                                id="publish_title" placeholder="What should your listing be called?">
                                        </div>
                                        <div class="form-group">
                                            <label for="publish_desc">Description</label>
                                            <span onkeyup="includeDesc()" role="textbox" aria-required="true"
                                                contenteditable type="text" class="textarea" id="publish_desc"
                                                placeholder="Talk about your item!"></span>
                                            <input type="hidden" id="publish_desc_hidden" name="description">
                                        </div>
                                        <div class="form-group">
                                            <label for="publish_price">Price (SG$)</label>
                                            <input type="number" name="price" required="required" class="form-control"
                                                id="publish_price" placeholder="0">
                                        </div>
                                        <div class="form-group">
                                            <label for="publish_image">Image input</label>
                                            <!-- <input type="file" required="required" multiple class="form-control-file" -->
                                            <input type="file" accept=".jpg,.png" class="form-control-file"
                                                id="publish_image" name="files" aria-describedby="fileHelp">
                                            <small id="fileHelp"
                                                class="form-text {{'' if err is defined else 'text-muted'}}">{{err if err is defined else 'Only JPG and PNG are
                                                accepted.'}}</small>
                                            <div id="images-container">

                                            </div>
                                        </div>
                                        <div class="button-box">
                                            <button id="publish_submit_button"
                                                type="submit"><span>Publish!</span></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    var fileList = [];
    var err = "";

    $(document).ready(function () {
        //readMultipleFiles();
        prepareFileListener();
        prepareCroppie();
        prepareSubmitButton();
    })

    function prepareSubmitButton() {
        $('#publish_submit_button').on('click', function (e) {
            e.preventDefault()
            var desc = $("#publish_desc").text()
            var title = $("#publish_title").val()
            var price = $("#publish_price").val()
            if (!desc || !title || !price) {
                alert("Please fill up your shit")
                return
            }
            var object = {}
            var tempList = []
            for (var i = 0; i < fileList.length; i++) {
                tempList.push(fileList[i])
                // tempList.push(fileList[i].split(',')[1])
            }
            object.imageList = tempList
            object.desc = desc
            object.title = title
            object.price = price
            $.ajax({
                url: "/sell/publish_listing",
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRFToken','{{csrf_token()}}');
                },
                data: JSON.stringify(object),
                success: function (data) {
                    alert("Successfully uploaded!")
                    window.location.replace("/")
                },
                fail: function (data) {
                    alert(
                        "Failed. Please double check your information, or contact the administrator.")
                }
            });
        })
    }

    function prepareFileListener() {
        $('#publish_image').on('change', function () {
            var reader = new FileReader();
            reader.onload = function (event) {
                $image_crop.croppie('bind', {
                    url: event.target.result
                }).then(function () {
                    console.log('jQuery bind complete');
                });
            }
            reader.readAsDataURL(this.files[0]);
            $('#uploadimageModal').modal('show');
            $('#publish_image').val('')
        });
    }

    function prepareCroppie() {
        $image_crop = $('#image_demo').croppie({
            enableExif: true,
            viewport: {
                width: 200,
                height: 200,
                type: 'square' //circle
            },
            boundary: {
                width: 300,
                height: 300
            }
        });

        $('.crop_image').click(function (event) {
            $image_crop.croppie('result', {
                type: 'base64',
                size: 'viewport'

            }).then(function (response) {
                var img = document.createElement("img");
                img.setAttribute("style",
                    "min-height:150px;max-height:150px;border:1px solid black;margin:20px;inline-block"
                )
                img.setAttribute("class", "product_images")
                img.src = response
                $("#images-container").prepend(img)
                $('#uploadimageModal').modal('hide');
                fileList.push(response)
                // $.ajax({
                //     url: "upload.php",
                //     type: "POST",
                //     data: {
                //         "image": response
                //     },
                //     success: function (data) {
                //         $('#uploadimageModal').modal('hide');
                //         $('#uploaded_image').html(data);
                //     }
                // });
            })
        });

    }

    function includeDesc() {
        a = $("#publish_desc").text()
        $("#publish_desc_hidden").val($("#publish_desc").text())
        b = $("#publish_desc_hidden").val()
    }

    function reader_loaded(e, files, i) {
        var bin = e.target.result
        if (!files[i].name.endsWith(".jpg") && !files[i].name.endsWith(".png")) {
            $("#fileHelp").removeClass("text-muted")
            if (i < files.length - 1) readAllFiles(files, i + 1)
        } else {
            var img = document.createElement("img");
            img.setAttribute("style",
                "min-height:250px;max-height:250px;border:1px solid black;margin:20px;inline-block")
            img.setAttribute("class", "product_images")
            img.src = bin
            $("#images-container").prepend(img)
            if (i < files.length - 1) readAllFiles(files, i + 1)

        }
    }

    function readAllFiles(files, i) {
        var file = files[i]
        var reader = new FileReader()
        reader.onload = function (e) {
            reader_loaded(e, files, i)
        }
        reader.readAsDataURL(file)
    }

    function readMultipleFiles() {

        $("#publish_image").change(function (e) {
            $("#images-container").empty()
            var files = e.originalEvent.srcElement.files
            for (var i = 0; i < files.length; i++) {
                if (!files[0].name.endsWith('jpg') && !files[0].name.endsWith('png')) {
                    $("#fileHelp").removeClass("text-muted")
                    return
                }
            }
            if (files.length > 0) readAllFiles(files, 0);
        })
    }

    function readURL(input) {
        $('#publish_image').change(function (e) {
            for (var i = 0; i < e.originalEvent.srcElement.files.length; i++) {

                var file = e.originalEvent.srcElement.files[i];
                if (!file.name.endsWith(".jpg") && !file.name.endsWith(".png")) {
                    $("#fileHelp").removeClass("text-muted")
                    continue
                } else {

                    fileList.push(file)
                }

                var reader = new FileReader();
                reader.onload = function (e) {
                    var img = document.createElement("img");
                    img.setAttribute("style",
                        "min-height:250px;max-height:250px;border:1px solid black;margin:20px;inline-block"
                    )
                    img.src = reader.result;
                    console.log("Reading data:" + file.name)
                    $("#images-container").prepend(img);
                }
                reader.readAsDataURL(file);
            }
        })
    }
</script>
<!-- login area end -->
{% endblock %}