        {% extends 'shared/layout.html' %}
        {% block content %}
        <!-- Slider Area Start -->
        <div class="slider-area">
            <div class="slider-active-3 owl-carousel slider-hm8 owl-dot-style">
                <!-- Slider Single Item Start -->
                <div class="slider-height-6 d-flex align-items-start justify-content-start bg-img"
                    style="background-image: url(/static/assets/images/slider-image/sample-1.jpg);">
                    <div class="container">
                        <div class="slider-content-1 slider-animated-1 text-left">
                            <span class="animated">NOT FRIED NOT BAKED</span>
                            <h1 class="animated">
                                Freeze Dried Fruits <br />
                                Pineapple Coconut
                            </h1>
                            <p class="animated">Free Shipping On Qualified Orders Over $35</p>
                            <a href="shop-4-column.html" class="shop-btn animated">SHOP NOW</a>
                        </div>
                    </div>
                </div>
                <!-- Slider Single Item End -->
                <!-- Slider Single Item Start -->
                <div class="slider-height-6 d-flex align-items-start justify-content-start bg-img"
                    style="background-image: url(/static/assets/images/slider-image/sample-2.jpg);">
                    <div class="container">
                        <div class="slider-content-1 slider-animated-1 text-left">
                            <span class="animated">100% NATURAL</span>
                            <h1 class="animated">
                                Organic Fruits <br />
                                Summer Drinks
                            </h1>
                            <p class="animated">fresh New pack Brusting Fruits</p>
                            <a href="shop-4-column.html" class="shop-btn animated">SHOP NOW</a>
                        </div>
                    </div>
                </div>
                <!-- Slider Single Item End -->
            </div>
        </div>
        <!-- Slider Arae End -->
        <!-- Static Area Start -->
        <section class="static-area mtb-60px">
            <div class="container">
                <div class="static-area-wrap">
                    <div class="row">
                        <!-- Static Single Item Start -->
                        <div class="col-lg-3 col-xs-12 col-md-6 col-sm-6">
                            <div class="single-static pb-res-md-0 pb-res-sm-0 pb-res-xs-0">
                                <img src="/static/assets/images/icons/static-icons-1.png" alt=""
                                    class="img-responsive" />
                                <div class="single-static-meta">
                                    <h4>Free Shipping</h4>
                                    <p>On all orders over $75.00</p>
                                </div>
                            </div>
                        </div>
                        <!-- Static Single Item End -->
                        <!-- Static Single Item Start -->
                        <div class="col-lg-3 col-xs-12 col-md-6 col-sm-6">
                            <div class="single-static pb-res-md-0 pb-res-sm-0 pb-res-xs-0 pt-res-xs-20">
                                <img src="/static/assets/images/icons/static-icons-2.png" alt=""
                                    class="img-responsive" />
                                <div class="single-static-meta">
                                    <h4>Free Returns</h4>
                                    <p>Returns are free within 9 days</p>
                                </div>
                            </div>
                        </div>
                        <!-- Static Single Item End -->
                        <!-- Static Single Item Start -->
                        <div class="col-lg-3 col-xs-12 col-md-6 col-sm-6">
                            <div class="single-static pt-res-md-30 pb-res-sm-30 pb-res-xs-0 pt-res-xs-20">
                                <img src="/static/assets/images/icons/static-icons-3.png" alt=""
                                    class="img-responsive" />
                                <div class="single-static-meta">
                                    <h4>100% Payment Secure</h4>
                                    <p>Your payment are safe with us.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Static Single Item End -->
                        <!-- Static Single Item Start -->
                        <div class="col-lg-3 col-xs-12 col-md-6 col-sm-6">
                            <div class="single-static pt-res-md-30 pb-res-sm-30 pt-res-xs-20">
                                <img src="/static/assets/images/icons/static-icons-4.png" alt=""
                                    class="img-responsive" />
                                <div class="single-static-meta">
                                    <h4>Support 24/7</h4>
                                    <p>Contact us 24 hours a day</p>
                                </div>
                            </div>
                        </div>
                        <!-- Static Single Item End -->
                    </div>
                </div>
            </div>
        </section>
        <!-- Static Area End -->
        <!-- Best Sells Area Start -->
        <section class="best-sells-area mb-30px">
            <div class="container">
                <!-- Section Title Start -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h2>Best Sellers</h2>
                            <p>New products</p>
                        </div>
                    </div>
                </div>
                <!-- Section Title End -->
                <!-- Best Sell Slider Carousel Start -->
                <div class="best-sell-slider owl-carousel owl-nav-style">
                    <!-- Single Item -->
                    {% if products|length>0 %}
                    {% for product in products %}
                    {% set discounted_price = product.price %}
                    {% set discount_rate = 20 %}
                    {% set original_price = product.price * (100/(100-discount_rate)) %}
                    <article class="list-product">
                        <div class="img-block">
                            <a href="single-product.html" class="thumbnail">
                                <img class="first-img" src="{{product.image_url}}" alt="" />
                            </a>
                        </div>
                        <ul class="product-flag">
                            <li class="new">New</li>
                        </ul>
                        <div class="product-decs">
                            <h2><a href="single-product.html"
                                    class="product-link">{{product.name|truncate(21,false,'..')}}</a>
                            </h2>
                            <div class="rating-product">
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                            </div>
                            <div class="pricing-meta">
                                <ul>
                                    <li class="old-price">SG${{'%0.2f' % original_price}}</li>
                                    <li class="current-price">SG${{'%0.2f' % discounted_price}}</li>
                                    <li class="discount-price">-{{discount_rate}}%</li>
                                </ul>
                            </div>
                        </div>
                        <div class="add-to-link">
                            <ul>
                                <li class="cart"><a class="cart-btn" href="#">ADD TO CART </a></li>
                                <div id="product_id" style="display:none">{{product.idproduct_listing}}</div>
                            </ul>
                        </div>
                    </article>
                    {% endfor %}
                    {% else %}
                    <h2>Products are coming!!</h2>
                    {% endif %}

                </div>
                <!-- Best Sells Carousel End -->
            </div>
        </section>
        <!-- Best Sells Slider End -->
        <!-- Brand area start -->
        <div class="brand-area">
            <div class="container">
                <div class="brand-slider owl-carousel owl-nav-style owl-nav-style-2">
                    <div class="brand-slider-item">
                        <a href="#"><img src="/static/assets/images/brand-logo/1.jpg" alt="" /></a>
                    </div>
                    <div class="brand-slider-item">
                        <a href="#"><img src="/static/assets/images/brand-logo/2.jpg" alt="" /></a>
                    </div>
                    <div class="brand-slider-item">
                        <a href="#"><img src="/static/assets/images/brand-logo/3.jpg" alt="" /></a>
                    </div>
                    <div class="brand-slider-item">
                        <a href="#"><img src="/static/assets/images/brand-logo/4.jpg" alt="" /></a>
                    </div>
                    <div class="brand-slider-item">
                        <a href="#"><img src="/static/assets/images/brand-logo/5.jpg" alt="" /></a>
                    </div>
                    <div class="brand-slider-item">
                        <a href="#"><img src="/static/assets/images/brand-logo/1.jpg" alt="" /></a>
                    </div>
                    <div class="brand-slider-item">
                        <a href="#"><img src="/static/assets/images/brand-logo/2.jpg" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Brand area end -->
        {% endblock %}
        {% block js %}
        <script>
            $(document).ready(function () {
                prepareSendToCart();

            })

            function updateShippingTotal(itemPrice) {

                var imgUrls = $(".mini-cart-content ul").find('img')
                console.log(imgUrls.length)
                if (imgUrls.length > 0) {
                    var beforeShipping = $(".shopping-cart-total h4 span")[0].innerHTML.split("$")[1]
                    var afterShipping = parseFloat(beforeShipping) + 7

                    $(".shopping-cart-total h4 span")[0].innerHTML = '$' + (parseFloat(beforeShipping) + itemPrice)
                        .toFixed(2)
                    $(".shopping-cart-total h4 span")[2].innerHTML = '$' + (parseFloat(afterShipping) + itemPrice)
                        .toFixed(2)
                    $(".count-cart span")[0].innerHTML = '$ ' + (parseFloat(afterShipping) + itemPrice).toFixed(2)
                } else {
                    $(".count-cart span")[0].innerHTML = '$ ' + (parseFloat(itemPrice+7).toFixed(2))
                    var div1 = document.createElement('div')
                    div1.setAttribute('class', 'shopping-cart-total')

                    var h41 = document.createElement('h4')
                    var span1 = document.createElement('span')
                    span1.append("$" + parseFloat(itemPrice).toFixed(2))
                    h41.append("Subtotal: ", span1)

                    var h42 = document.createElement('h4')
                    var span2 = document.createElement('span')
                    span2.append("$7.00")
                    h42.append("Shipping: ", span2)

                    var h43 = document.createElement('h4')
                    h43.setAttribute('class', 'shop-total')
                    var span3 = document.createElement('span')
                    span3.append("$" + parseFloat(itemPrice + 7).toFixed(2))
                    h43.append("Total: ", span3)
                    div1.append(h41, h42, h43)

                    var divCheckout = document.createElement('div')
                    divCheckout.setAttribute('class', 'shopping-cart-btn text-center')
                    var a = document.createElement('a')
                    a.setAttribute('class', 'default-btn')
                    a.setAttribute('href', '/products/checkout')
                    a.append('checkout')
                    divCheckout.append(a)

                    $(".mini-cart-content")[0].append(div1, divCheckout)
                    $(".mini-cart-content h3")[0].remove()
                }
            }

            function updateMiniCart(img, price, name) {
                var imgUrls = $(".mini-cart-content ul").find('img')
                updateShippingTotal(parseFloat(price.split("$")[1]))
                for (var j = 0; j < imgUrls.length; j++) {
                    if (imgUrls[j].getAttribute('src') == img) {
                        var qty = imgUrls[j].parentElement.nextElementSibling.textContent
                        qty = qty.replace('x', '')
                        qty = parseFloat(qty) + 1
                        imgUrls[j].parentElement.nextElementSibling.textContent = qty + 'x'
                        return
                    }
                }
                var li = document.createElement("li")
                li.setAttribute('class', 'single-shopping-cart')

                var div1 = document.createElement('div')
                div1.setAttribute('class', 'shopping-cart-img')

                var img1 = document.createElement('img')
                img1.setAttribute('alt', '')
                img1.setAttribute('src', img)

                var a1 = document.createElement('a')
                a1.setAttribute('href', 'single-product.html')
                a1.append(img1)

                var span1 = document.createElement('span')
                span1.setAttribute('class', 'product-quantity')
                span1.append('1')

                div1.append(a1, span1)

                var div2 = document.createElement('div')
                div2.setAttribute('class', 'shopping-cart-title')

                var h4 = document.createElement('h4')
                var a2 = document.createElement('a')
                a2.setAttribute('href', 'single-product.html')
                a2.append(name)
                h4.append(a2)

                var span2 = document.createElement('span')
                var newprice = price.replace('SG', '')
                span2.append(newprice)


                var div3 = document.createElement('div')
                var a3 = document.createElement('a')
                var i = document.createElement('i')

                div3.setAttribute('class', 'shopping-cart-delete')
                a3.setAttribute('href', '#')
                i.setAttribute('class', 'ion-android-cancel')
                a3.append(i)
                div3.append(a3)

                div2.append(h4, span2, div3)

                li.append(div1, div2)

                $(".mini-cart-content ul")[0].append(li)
            }

            function prepareSendToCart() {
                var object = {}
                $(".cart").on("click", function (e) {
                    e.preventDefault()
                    object.idproduct = $(this).siblings()[0].innerHTML
                    object.qty = 1
                    object.name = $(this).parent().parent().parent().find('a.product-link')[0].text
                    var img_url = $(this).parent().parent().parent().find('img.first-img')[0].getAttribute(
                        'src')
                    var item_price = $(this).parent().parent().parent().find('li.current-price')[0].innerText
                    $.ajax({
                        url: "/cart/addToCart",
                        type: "POST",
                        dataType: "json",
                        contentType: "application/json",
                        data: JSON.stringify(object),
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader('X-CSRFToken', '{{csrf_token()}}');
                        },
                        success: function (data) {
                            // alert(data.msg)

                            // li
                            //     div1
                            //     div2

                            updateMiniCart(img_url, item_price, object.name)


                            iziToast.show({
                                title: 'Added ' + object.name + ' to your cart!',
                                theme: 'light',
                                color: 'green',
                                position: 'topRight',
                                overlayClose: true,
                                progressBarColor: 'rgb(0,0,0)',
                            })
                        },
                        error: function (data) {
                            iziToast.show({
                                title: data.responseJSON.msg,
                                theme: 'light',
                                color: 'red',
                                position: 'topRight',
                                overlayClose: true,
                                progressBarColor: 'rgb(0,0,0)',
                            })
                        }
                    });
                })



            }
        </script>
        {% endblock %}