        {% extends 'shared/layout.html' %}
        {% block content %}
        <!-- Slider Area Start -->
        <div class="slider-area">
            <div class="slider-active-3 owl-carousel slider-hm8 owl-dot-style">
                <!-- Slider Single Item Start -->
                <div class="slider-height-6 d-flex align-items-start justify-content-start bg-img"
                    style="background-image: url(/static/assets/images/slider-image/sample-1.jpg);">
                    <div class="container">
                        <div class="slider-content-1 slider-animated-1 text-left">
                            <span class="animated">NOT FRIED NOT BAKED</span>
                            <h1 class="animated">
                                Freeze Dried Fruits <br />
                                Pineapple Coconut
                            </h1>
                            <p class="animated">Free Shipping On Qualified Orders Over $35</p>
                            <a href="shop-4-column.html" class="shop-btn animated">SHOP NOW</a>
                        </div>
                    </div>
                </div>
                <!-- Slider Single Item End -->
                <!-- Slider Single Item Start -->
                <div class="slider-height-6 d-flex align-items-start justify-content-start bg-img"
                    style="background-image: url(/static/assets/images/slider-image/sample-2.jpg);">
                    <div class="container">
                        <div class="slider-content-1 slider-animated-1 text-left">
                            <span class="animated">100% NATURAL</span>
                            <h1 class="animated">
                                Organic Fruits <br />
                                Summer Drinks
                            </h1>
                            <p class="animated">fresh New pack Brusting Fruits</p>
                            <a href="shop-4-column.html" class="shop-btn animated">SHOP NOW</a>
                        </div>
                    </div>
                </div>
                <!-- Slider Single Item End -->
            </div>
        </div>
        <!-- Slider Arae End -->
        <!-- Static Area Start -->
        <section class="static-area mtb-60px">
            <div class="container">
                <div class="static-area-wrap">
                    <div class="row">
                        <!-- Static Single Item Start -->
                        <div class="col-lg-3 col-xs-12 col-md-6 col-sm-6">
                            <div class="single-static pb-res-md-0 pb-res-sm-0 pb-res-xs-0">
                                <img src="/static/assets/images/icons/static-icons-1.png" alt=""
                                    class="img-responsive" />
                                <div class="single-static-meta">
                                    <h4>Free Shipping</h4>
                                    <p>On all orders over $75.00</p>
                                </div>
                            </div>
                        </div>
                        <!-- Static Single Item End -->
                        <!-- Static Single Item Start -->
                        <div class="col-lg-3 col-xs-12 col-md-6 col-sm-6">
                            <div class="single-static pb-res-md-0 pb-res-sm-0 pb-res-xs-0 pt-res-xs-20">
                                <img src="/static/assets/images/icons/static-icons-2.png" alt=""
                                    class="img-responsive" />
                                <div class="single-static-meta">
                                    <h4>Free Returns</h4>
                                    <p>Returns are free within 9 days</p>
                                </div>
                            </div>
                        </div>
                        <!-- Static Single Item End -->
                        <!-- Static Single Item Start -->
                        <div class="col-lg-3 col-xs-12 col-md-6 col-sm-6">
                            <div class="single-static pt-res-md-30 pb-res-sm-30 pb-res-xs-0 pt-res-xs-20">
                                <img src="/static/assets/images/icons/static-icons-3.png" alt=""
                                    class="img-responsive" />
                                <div class="single-static-meta">
                                    <h4>100% Payment Secure</h4>
                                    <p>Your payment are safe with us.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Static Single Item End -->
                        <!-- Static Single Item Start -->
                        <div class="col-lg-3 col-xs-12 col-md-6 col-sm-6">
                            <div class="single-static pt-res-md-30 pb-res-sm-30 pt-res-xs-20">
                                <img src="/static/assets/images/icons/static-icons-4.png" alt=""
                                    class="img-responsive" />
                                <div class="single-static-meta">
                                    <h4>Support 24/7</h4>
                                    <p>Contact us 24 hours a day</p>
                                </div>
                            </div>
                        </div>
                        <!-- Static Single Item End -->
                    </div>
                </div>
            </div>
        </section>
        <!-- Static Area End -->
        <!-- Best Sells Area Start -->
        <section class="best-sells-area mb-30px">
            <div class="container">
                <!-- Section Title Start -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h2>Best Sellers</h2>
                            <p>New products</p>
                        </div>
                    </div>
                </div>
                <!-- Section Title End -->
                <!-- Best Sell Slider Carousel Start -->
                <div class="best-sell-slider owl-carousel owl-nav-style">
                    <!-- Single Item -->
                    {% for product in products %}
                    {% set discounted_price = product.price %}
                    {% set discount_rate = 20 %}
                    {% set original_price = product.price * (100/(100-discount_rate)) %}
                    <article class="list-product">
                        <div class="img-block">
                            <a href="single-product.html" class="thumbnail">
                                <img class="first-img" src="{{product.image_url}}"
                                    alt="" />
                            </a>
                        </div>
                        <ul class="product-flag">
                            <li class="new">New</li>
                        </ul>
                        <div class="product-decs">
                            <h2><a href="single-product.html" class="product-link">{{product.name|truncate(30,false,'..')}}</a>
                            </h2>
                            <div class="rating-product">
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                            </div>
                            <div class="pricing-meta">
                                <ul>
                                    <li class="old-price">SG${{'%0.2f' % original_price}}</li>
                                    <li class="current-price">SG${{'%0.2f' % discounted_price}}</li>
                                    <li class="discount-price">-{{discount_rate}}%</li>
                                </ul>
                            </div>
                        </div>
                        <div class="add-to-link">
                            <ul>
                                <li class="cart"><a class="cart-btn" href="#">ADD TO CART </a></li>
                            </ul>
                        </div>
                    </article>
                    {% endfor %}
                </div>
                <!-- Best Sells Carousel End -->
            </div>
        </section>
        <!-- Best Sells Slider End -->
        <!-- Brand area start -->
        <div class="brand-area">
            <div class="container">
                <div class="brand-slider owl-carousel owl-nav-style owl-nav-style-2">
                    <div class="brand-slider-item">
                        <a href="#"><img src="/static/assets/images/brand-logo/1.jpg" alt="" /></a>
                    </div>
                    <div class="brand-slider-item">
                        <a href="#"><img src="/static/assets/images/brand-logo/2.jpg" alt="" /></a>
                    </div>
                    <div class="brand-slider-item">
                        <a href="#"><img src="/static/assets/images/brand-logo/3.jpg" alt="" /></a>
                    </div>
                    <div class="brand-slider-item">
                        <a href="#"><img src="/static/assets/images/brand-logo/4.jpg" alt="" /></a>
                    </div>
                    <div class="brand-slider-item">
                        <a href="#"><img src="/static/assets/images/brand-logo/5.jpg" alt="" /></a>
                    </div>
                    <div class="brand-slider-item">
                        <a href="#"><img src="/static/assets/images/brand-logo/1.jpg" alt="" /></a>
                    </div>
                    <div class="brand-slider-item">
                        <a href="#"><img src="/static/assets/images/brand-logo/2.jpg" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Brand area end -->
        {% endblock %}