{% extends "layout.html" %} {% block body %}

<div>
  <a href="{{ url_for('registration') }}">Register</a>
  <a href="{{ url_for('login') }}">Login</a>
</div>

<form method="post">
  {{ form.hidden_tag() }}
  <div>
    <p>Email</p>
    {{ form.email }}
  </div>
  <div>
    <p>Last Name</p>
    {{ form.lastName }}
  </div>
  <div>
    <p>First Name</p>
    {{ form.firstName }}
  </div>
  <div>
    <p>Password</p>
    {{ form.password }}
  </div>
  <div>
    <p>Confirm Password</p>
    {{ form.confirmPassword }}
  </div>
  <input type="submit" value="Register" />
</form>

{% endblock %}
