<header class="main-header">
    <!-- Header Top Start -->
    <div class="header-top-nav">
        <div class="container-fluid">
            <div class="row">
                <!--Left Start-->
                <div class="col-lg-4 col-md-4">
                    <div class="left-text">
                        <p>Welcome {{current_user.fname or 'to Collaboratory'}}!</p>
                    </div>
                </div>
                <!--Left End-->
                <!--Right Start-->
                <div class="col-lg-8 col-md-8 text-right">
                    <div class="header-right-nav">
                        <ul>
                            <li>
                                <a href="/sell/dashboard"><i class="fas fa-money"></i>Sell</a>
                            </li>
                            <li class="dropdown">
                                <a class="angle-icon" href="#">Settings</a>
                                <ul class="dropdown-nav">
                                    <li><a href="/account">My Account</a></li>
                                    <li><a href="/products/checkout">Checkout</a></li>
                                    {% if current_user is defined and not current_user.is_authenticated %}
                                    <li><a id="seleniumLoginHook" href="{{ url_for('login_landing')}}">Login</a></li>
                                    {%endif%}
                                    {% if current_user is defined and current_user.is_authenticated %}
                                    <li><a href="{{ url_for('logout')}}">Logout</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--Right End-->
    </div>
    </div>
    </div>
    <!-- Header Top End -->
    <!-- Header Buttom Start -->
    <div class="header-navigation sticky-nav">
        <div class="container-fluid">
            <div class="row">
                <!-- Logo Start -->
                <div class="col-md-3 col-sm-2">
                    <div class="logo">
                        <a href="/"><img src="/static/assets/images/logo/collab-header-logo5.png" alt="" /></a>
                    </div>
                </div>
                <!-- Logo End -->
                <!-- Navigation Start -->
                <div class="col-md-9 col-sm-10">
                   
                    <!--Header Bottom Account Start -->
                    <div class="header_account_area">
             

                        <!--Cart info Start -->
                        {% if current_user.is_authenticated %}
                            {% set cart = current_user.cart %}
                            {% set cartTotal = namespace(value=0.0) %}
                            {% for item in cart %}
                                {% set cartTotal.value = cartTotal.value + (item.price * item.qty) %}
                                <!-- {{(item.qty * item.price) + 0}} -->
                            {% endfor %}
                        {% endif %}
                        <div class="cart-info d-flex">
                            <div class="mini-cart-warp">
                                <a href="#" class="count-cart">
                                    <span>$
                                    {{'%0.2f'%(cartTotal.value +7) if cartTotal is defined and cartTotal.value >0.0 else '0.00'}}
                                    </span>
                                    {% if cart_num_items is defined and cart_num_items>0 %}
                                    <div id="cart_number"
                                        style="font-size: 12px;position:absolute;top:9px;left:-26px;right:auto;width:18px;height:18px;background:#4fb68d;color:#fff;line-height:18px;text-align:center;border-radius:50%;float:right">
                                        {{cart_num_items}}</div>
                                    {% endif %}
                                </a>

                                <div class="mini-cart-content">
                                    <ul>
                                        {% if cart is defined and cart|length > 0 %}
                                        {% for item in cart %}
                                        <li class="single-shopping-cart">
                                            <div class="shopping-cart-img">
                                                <a href="single-product.html"><img alt=""
                                                        src="{{item.image_url}}" /></a>
                                                <span class="product-quantity">{{item.qty}}x</span>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href="single-product.html">{{item.name}}</a></h4>
                                                <span>${{'%0.2f' % item.price}}</span>
                                                <div class="shopping-cart-delete">
                                                    <a href="#"><i class="ion-android-cancel"></i></a>
                                                </div>
                                            </div>
                                        </li>
                                        {% endfor %}
                                        {% endif %}
                                    </ul>
                                    {% if cart|length == 0 %}
                                    <h3 class="shopping-cart-total">No items in cart.</h3>
                                    {% else %}
                                    <div class="shopping-cart-total">
                                        <h4>Subtotal : <span>${{'%0.2f' % cartTotal.value or '0.00'}}</span></h4>
                                        <h4>Shipping : <span>$7.00</span></h4>
                                        <h4 class="shop-total">Total : <span>${{'%0.2f' % (cartTotal.value +7) or '0.00'}}</span></h4>
                                    </div>
                                    <div class="shopping-cart-btn text-center">
                                        <a class="default-btn" href="/products/checkout">checkout</a>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <!--Cart info End -->
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--Header Bottom Account End -->
</header>